<!DOCTYPE html>

<html>

<head>
    <title>Error</title>
    <link rel="icon" href="/img/weather-logo.png">
    <link href="/css/styles.css" rel="stylesheet">

</head>

<body>
    <div class="main-content">
        {{>header}}

        <h1>{{error}}</h1>
    </div>
    {{>footer}}
</body>


</html>