<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weather-logo.png">

    <link href="css/styles.css" rel="stylesheet">

</head>

<body>

    <div class="main-content">
        {{>header}}

        <p>This site was create by Ashu Gupta. It uses data from weatherstack.com to get realtime weather updates.</p>

        <img class="portrait" src="img/my.jpg" alt="Photo of me">
    </div>
    {{>footer}}


</body>


</html>